@import 'reset.scss';
@import 'vars.scss';
@import 'base.scss';
@import 'general.scss';

.voice-notes-container {
    
}

.heading-container {
    background-color: crimson;
    border-radius: 50px;
}

.heading {
    color: $primary_color;
    text-align: center;
}