/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* custom css */
.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

html {
  font-size: 14px;
  font-family: "Hind";
  letter-spacing: 0.04em;
  line-height: 1.5; }

h1 {
  font-size: 3.6rem;
  line-height: 1.25; }

h2 {
  font-size: 2.8rem;
  line-height: 1.3; }

h3 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35; }

h4 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5; }

h5 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4; }

h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.8rem 0.8rem;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.center-child {
  display: grid;
  place-items: center; }

.bg-primary {
  background: #f7f7f7; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }

@media all and (max-width: 992px) {
  html {
    font-size: 14px; } }

@media all and (max-width: 768px) {
  html {
    font-size: 12px; } }

@media all and (max-width: 600px) {
  html {
    font-size: 10px; } }

body {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  color: #333333;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.col-2 {
  grid-column: span 2; }

.col-5 {
  grid-column: span 5; }

.col-7 {
  grid-column: span 7; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.btn.btn-primary {
  height: auto;
  width: auto;
  display: inline-block;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  background: #fac823;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background ease 0.2s;
  -webkit-transition: background ease 0.2s;
  -moz-transition: background ease 0.2s;
  -ms-transition: background ease 0.2s;
  -o-transition: background ease 0.2s; }

.btn:hover {
  background: rgba(250, 200, 35, 0.9); }

p {
  line-height: 1.5; }

.section-padding {
  padding: 7rem 0 5rem 0; }

.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-bottom: 3rem; }

.small-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #4c4d4e;
  margin-bottom: 1rem; }

.small-para {
  font-weight: 400;
  color: #777777;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 2; }

.flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }

.flex-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

body {
  background-color: #fac823; }

.heading-container {
  background-color: crimson;
  border-radius: 50px; }

.heading {
  color: #fafafa;
  text-align: center; }

.para-container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem; }

p {
  margin: 0 0 3rem; }

.para-container:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4; }
